body {
    background-color: #181C25 !important;
    color: white !important;
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat/Montserrat-Light.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(Montserrat/Montserrat-Medium.ttf);
    font-weight: bold;
}

.navbar {
    font-family: Montserrat;
}

.navbar-brand {
    font-family: Montserrat-Bold;
}

.main {
    text-align: center;
    font-family: Montserrat;
}

.container {
    font-family: Montserrat;
}

.name {
    font-family: Montserrat-Bold;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 15%;
  }

.center_text {
   width: 100%;
   text-align: center;
   padding-top: 25%;
  }

.col {
    text-align: center;
    display: inline-block;
}

.col img {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}